
.header{
    text-align: center; 

    background-color: rgba(0, 0, 0, 0.884);
  }
  .header_title_deg{
      font-weight: 900;
      padding-top: 20px;
      padding-bottom: 20px;
      color: white;
  }

  #bg_title{
    background-color: rgba(0, 0, 0, 0.884);
  }
  #title_clr{
    color: white;
  }
  #articles_back{
    background-color: rgba(0, 0, 0, 0.884);
  }
  #search_ttl{
    color: white;
  }
  .cards-bg{
      display: inline-block;
      width: 30%;
      height: 200px;
      text-align: center;
      flex-wrap: wrap;
      
  }
  .mode{
    display: flex;
    justify-content: center;
    color :black;
  }
  .blog_img_deg{
      width: 250px;
      height: 200px;
      border-radius: 20px;
  }
  .blogs_title_deg{
      background-color: rgba(39, 31, 31, 0.77);
      width: 100%;
      border-radius: 10px;
      display: flexbox;
      color: white;
  }
  .articles_title_deg{
      background-color: rgba(39, 31, 31, 0.77);
      width: 100%;
      border-radius: 10px;
      padding: 2px;
      color: white;
  }
  .slider {
      width: 100%;
      height: 230px;
      display: flex;
      overflow-x: auto;
      padding-left: 10px;
    }
    .slide {
      width: 300px;
      flex-shrink: 0;
      height: 100%;
      margin: 3px;
    }
    #create_art{
      background-color: rgba(0, 0, 0, 0.884);
      color: white;
    }
    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5; }

  