.header{
  text-align: center;  
}
.header_title_deg{
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
.cards-bg{
    display: inline-block;
    width: 30%;
    height: 200px;
    text-align: center;
    flex-wrap: wrap;
    
}
.blog_img_deg{
    width: 250px;
    height: 200px;
    border-radius: 20px;
}
.blogs_title_deg{
    background-color: rgba(39, 31, 31, 0.77);
    width: 100%;
    border-radius: 10px;
    display: flexbox;
    color: white;
}
.articles_title_deg{
    background-color: rgba(39, 31, 31, 0.77);
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    color: white;
}
.slider {
    width: 100%;
    height: 230px;
    display: flex;
    overflow-x: auto;
    padding-left: 10px;

  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    margin: 3px;

  }
  .mode{
    display: flex;
    justify-content: center;
    color :black;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5; }

